[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = High-level emulator for iPhone OS apps. This repo is used for issues, releases and CI. Submit patches at: https://review.gerrithub.io/admin/repos/touchHLE/touchHLE
[access "refs/*"]
	owner = group user/Misty De Méo (mistydemeo)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Misty De Méo (mistydemeo)
	label-Verified = -1..+1 group user/Misty De Méo (mistydemeo)
	push = group user/Misty De Méo (mistydemeo)
	read = group user/Misty De Méo (mistydemeo)
	rebase = group user/Misty De Méo (mistydemeo)
	removeReviewer = group user/Misty De Méo (mistydemeo)
	submit = group user/Misty De Méo (mistydemeo)
[access "refs/heads/*"]
	create = group user/Misty De Méo (mistydemeo)
	push = +force group user/Misty De Méo (mistydemeo)
	pushMerge = group user/Misty De Méo (mistydemeo)
	read = group user/Misty De Méo (mistydemeo)
[access "refs/tags/*"]
	push = group user/Misty De Méo (mistydemeo)
	push = +force group user/Misty De Méo (mistydemeo)
